{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">----以下由「万维刀客」精心挑选 ----</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <hr class="hr-mid-border-content" data-content="人工智能&机器学习">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://ai.googleblog.com/" target="_blank" rel="noopener noreferrer">Google AI Blog</a>
        </h2>
        <p>谷歌的最新研究成果，极具权威性和学术性，经常关注</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://www.kdnuggets.com/" target="_blank"
            rel="noopener noreferrer">Kdnuggets</a></h2>
        <p>建议多关住网站左下角的“Most Popular”和“Most Shared”里的文章，两周更新</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://dzone.com/" target="_blank"
            rel="noopener noreferrer">DZONE</a></h2>
        <p>不论是AI、云计算、数据安全还是计算机性能、IoT和网站设计，更新速度很快</p>
      </div>
    </div>
    <hr class="hr-mid-border-content" data-content="前端学习">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://tympanus.net/codrops/" target="_blank" rel="noopener noreferrer">Codrops</a>
        </h2>
        <p>包含一些精美的设计和前端的实现教程，老外的CSS写的很溜的</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://www.smashingmagazine.com/" target="_blank"
            rel="noopener noreferrer">SmashingMagazine</a></h2>
        <p>前端博客，与很详细的教程文档可以学习</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://developer.mozilla.org/zh-CN/" target="_blank"
            rel="noopener noreferrer">mozilla</a></h2>
        <p>Mozilla Developer Network，Mozilla 开发者网络</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><a href="http://www.ruanyifeng.com" target="_blank"
          rel="noopener noreferrer">阮一峰</a></h2>
        <p>上一辈大佬</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://www.zhangxinxu.com" target="_blank"
          rel="noopener noreferrer">张鑫旭</a></h2>
        <p>上一辈大佬</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="https://www.liaoxuefeng.com" target="_blank"
          rel="noopener noreferrer">廖雪峰</a></h2>
        <p>上一辈大佬</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}